*~
/.bundle
*.cache
capybara-*.html
config/database.yml
config/s3_credentials.yml
config/*.sphinx.conf
config/*.yml
/coverage/
coverage/*
db/cstore/**
db/sphinx/**
/db/*.sqlite3
db/*.sqlite3
doc/api
doc/app
doc/*.dot
doc/plugins
.DS_Store
/log/*
*.log
**.orig
pickle-email-*.html
*.pid
/public/system/*
*.rbc
rerun.txt
.rspec
*.sassc
.sass-cache
/spec/tmp/*
*.sw?
/tmp/*
tmp/**/*
*.tmproj
/vendor/bundle
